.details-page {
  display: grid;
}
.surgery-blocks, .surgery-preferences, .block-references, .block-surgeries, .surgeon-page {
  width: 95%;
  margin: 0 auto;
}
.details-image {
  width: 100%;
}
.accordion-panel a, .block-references a {
  margin: 0 5px;
  color: var(--red);
}

@media screen and (min-width: 768px) {
  .details-page {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .details-page li {
    font-size: 1rem;
  }
  .surgery-blocks, .block-references {
    grid-column: 1 / span 2;
  }
  .surgery-preferences, .block-surgeries {
    grid-row: 1;
    grid-column: 2;
  }
}
@media screen and (min-width: 1024px) {
  .details-page {
    grid-template-columns: 1fr 2fr;
  }
}