.feedback-page {
  width: 90%;
  margin: 0 auto;
}
.feedback-dropdown {
  margin-bottom: 10px;
}
.feedback-page > textarea {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
}
.feedback-page-row > button {
  border: solid var(--dark-gray);
  outline: none;
  background-color: transparent;
  color: var(--dark-gray);
  border-radius: 10px;
  padding: 5px 25px;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 0 0 auto;
  justify-self: flex-end;
}
.feedback-page-row > button:hover {
  color: white;
  background-color: var(--red);
  border: solid var(--red);
}
.feedback-page-row {
  display: flex;
  flex-direction: column;
}
.red-text {
  color: red;
}

@media screen and (min-width: 768px) {
  .feedback-page-row {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .feedback-page-row > p {
    margin: 0;
  }
}